.container {
  min-height: 100vh;
  width: 100%;
}



.image {
  width: unset !important;
  min-width: unset !important;
  max-width: unset !important;
  height: unset !important;
  max-height: unset !important;
  min-height: unset  !important;
}

